.app-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .main-container {
    padding: 2rem;
  }
}

a {
  color: #00c6ff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #ffffff;
}